---
// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import PostCardFull from "@components/PostCard/PostCardFull.astro";
import CategoryCloud from "@components/CategoryCloud/CategoryCloud.astro";

// utils
import { getAllPosts } from "@js/blogUtils";

const posts = await getAllPosts();
---

<BaseLayout
  title="Our Blog Posts"
  description="Learn from our blog posts about web development, design, and more."
>
  <section class="container pt-36 md:pt-44">
    <h1 class="h1 text-center">
      Helpful tips from <span class="text-primary-600">us</span>
    </h1>
    <div class="mt-6 flex justify-center">
      <CategoryCloud />
    </div>

    <div class="mt-20 grid gap-4 gap-y-12 md:mt-28">
      {posts.map((post) => <PostCardFull post={post} showDescription={true} />)}
    </div>
  </section>
</BaseLayout>
