---
/**
 * * Examples services page. You can add as many as you need.
 * I created a layout file to keep services consistent. That is where I put the CTA and any other sections
 * that are consistent across all services pages.
 */

// layout
import ServiceLayoutCenter from "@layouts/ServiceLayoutCenter.astro";

import image from "@images/house.jpg";
---

<ServiceLayoutCenter
    title="Exterior Painting Services"
    description="Details of the exterior painting services offered by example company"
    image={image}
>
    <p>
        Our paint company is a group of professionals. We don’t stand for
        cutting corners. We don’t stand for sloppy work. We don’t stand for
        anything less than the best.
    </p>
    <p>
        Don't sweat the details, <span class="mt-6 font-medium"
            >we'll take care of it.</span
        >
    </p>
    <p class="mt-12">Our exterior painting services include:</p>
    <div class="mt-6 grid gap-x-4 sm:grid-cols-2">
        <p class="pt-7 font-medium">Surface Preparation</p>
        <ul>
            <li>Power washing</li>
            <li>Scraping and sanding</li>
            <li>Caulking and sealing</li>
        </ul>
        <p class="pt-6 font-medium">Painting Services</p>
        <ul>
            <li>Full exterior painting</li>
            <li>Trim and accent painting</li>
            <li>Door and window frame painting</li>
            <li>Fence and deck painting</li>
            <li>Garage door painting</li>
            <li>Siding painting</li>
            <li>Stucco painting</li>
            <li>Brick painting</li>
        </ul>
        <p class="pt-6 font-medium">Specialty Services</p>
        <ul>
            <li>Exterior mural painting</li>
            <li>Faux finishes</li>
            <li>Textured painting</li>
            <li>Weatherproof coatings</li>
            <li>Protective coatings</li>
        </ul>
        <p class="pt-6 font-medium">Restoration and Repair</p>
        <ul>
            <li>Wood rot repair</li>
            <li>Siding replacement</li>
            <li>Surface repairs</li>
            <li>Patching and filling cracks</li>
        </ul>
        <p class="pt-6 font-medium">Color Consultation</p>
        <ul>
            <li>Assistance with color selection</li>
            <li>Color matching and coordination</li>
        </ul>
        <p class="pt-6 font-medium">Additional Services</p>
        <ul>
            <li>Pressure washing</li>
            <li>Gutter cleaning and maintenance</li>
            <li>Exterior surface cleaning and maintenance</li>
        </ul>
    </div>
</ServiceLayoutCenter>
