---
/**
 * * Examples services page. You can add as many as you need.
 * I created a layout file to keep services consistent. That is where I put the CTA and any other sections
 * that are consistent across all services pages.
 */

// layout
import ServiceLayoutCenter from "@layouts/ServiceLayoutCenter.astro";

import image from "@images/living-room.jpg";
---

<ServiceLayoutCenter
    title="Interior Painting Services"
    description="Details of the interior painting services offered by example company"
    image={image}
>
    <p>
        Our paint company is a group of professionals. We don’t stand for
        cutting corners. We don’t stand for sloppy work. We don’t stand for
        anything less than the best.
    </p>
    <p>
        Don't sweat the details, <span class="font-medium"
            >we'll take care of it.</span
        >
    </p>
    <p class="mt-12">Our interior painting services include:</p>
    <ul class="grid gap-x-4 sm:grid-cols-2">
        <li>Walls</li>
        <li>Ceilings</li>
        <li>Trim</li>
        <li>Doors</li>
        <li>Cabinets</li>
        <li>Staining</li>
        <li>Wallpaper removal</li>
    </ul>
</ServiceLayoutCenter>
