---
/**
 * * Hero with background blobs and side image
 */
import { Icon } from "astro-icon";

// components
import Button from "@components/Button/Button.astro";
import VideoButton from "@components/Button/VideoButton.astro";
---

<section id="hero" class="relative mb-14 flex w-full overflow-hidden pb-10">
    <!-- bottom left blob -->
    <Icon
        name="blob-1"
        class="absolute left-0 top-0 -z-10 h-[200%] w-[150%] -translate-x-[50%] rotate-12 text-primary-200/50"
        aria-hidden="true"
    />

    <!-- top left blob -->
    <Icon
        name="blob-2"
        class="absolute left-0 top-0 -z-10 h-[200%] w-[150%] -translate-x-[50%] -translate-y-[50%] rotate-12 text-primary-400/50"
        aria-hidden="true"
    />

    <!-- bottom right blob -->
    <Icon
        name="blob-2"
        class="absolute left-0 top-0 -z-10 h-[200%] w-[150%] translate-x-[20%] text-primary-400/50"
        aria-hidden="true"
    />

    <!-- hero items -->
    <div class="container pb-10 pt-40 text-center md:pb-20 lg:pb-36 lg:pt-48">
        <!-- Hero text -->
        <div class="mx-auto max-w-[800px]">
            <h1
                class="text-4xl font-medium leading-tight md:text-5xl md:leading-tight"
                data-aos="fade-up"
            >
                Quality
                <span class="relative whitespace-nowrap">
                    talks.
                    <span>
                        <Icon
                            name="freehand-zig-underline"
                            class="absolute left-0 top-0 -z-10 h-full w-full translate-y-1/2 text-primary-300"
                            aria-hidden="true"
                        />
                    </span>
                </span>
            </h1>
            <p class="description mt-6" data-aos="fade-up" data-aos-delay=".2">
                Podcasts, Conferences, Panels, you name it she's done it.
            </p>
            <div class="mt-6 flex flex-wrap justify-center gap-4">
                <Button
                    variant="primary"
                    href="/contact/"
                    data-aos="fade-up"
                    data-aos-delay=".9"
                >
                    Contact Monica to speak at your event
                </Button>
            </div>
        </div>
    </div>
</section>
