---
/**
 * * Three row image marquee
 * JS allows the animation to pause while you hover over it.
 */

import { Image } from "astro:assets";
import { Icon } from "astro-icon";

// images
import image1 from "@assets/images/starburst/anna-success.jpeg";
import image2 from "@assets/images/starburst/anna-tcby.jpeg";
import image3 from "@assets/images/starburst/brian_trino.jpeg";
import image4 from "@assets/images/starburst/buckets.jpeg";
import image5 from "@assets/images/starburst/data_rebel.JPG";
import image6 from "@assets/images/starburst/davanova.jpeg";
import image7 from "@assets/images/starburst/green-brooke.jpeg";
import image8 from "@assets/images/starburst/green-screen.jpg";
import image9 from "@assets/images/starburst/jess-clerb.JPG";
import image10 from "@assets/images/starburst/jess-datanova.jpeg";
import image11 from "@assets/images/starburst/little-mermaid-group.jpeg";
import image12 from "@assets/images/starburst/prom-photo.JPG";
import image13 from "@assets/images/starburst/re-invent.JPG";
import image14 from "@assets/images/starburst/speakers.jpeg";
import image15 from "@assets/images/starburst/trino-summit.jpeg";

interface MarqueeImages {
    images: ImageMetadata[]; // imported images
}

// change these images to whatever you want!
const marqueeTop: MarqueeImages = {
    images: [
        image1,
        image2,
        image3,
        image4,
        image5,
        image6,
        image7,
        image9,
        image10,
        image11,
        image12,
        image13,
        image8,
    ],
};

const marqueeMiddle: MarqueeImages = {
    images: [image1, image6, image4, image2, image7, image3],
};

const marqueeBottom: MarqueeImages = {
    images: [image7, image6, image5, image4, image3, image2],
};
---

<section id="faq2" class="mx-auto my-12 py-12">
    <div class="flex justify-center">
        <h2 class="h2 relative inline">
            <!-- TODO -->
            <!-- See the results -->
            <Icon
                name="freehand-arrow"
                class="absolute right-0 top-0 h-auto w-10 translate-x-10 translate-y-7 rotate-45 text-primary-500"
                aria-hidden="true"
            />
        </h2>
    </div>

    <div class="relative flex flex-col gap-6 overflow-hidden md:gap-10">
        <!-- marquee top row -->
        <div
            class="marquee-top relative mt-8 flex gap-6 overflow-hidden md:gap-10"
        >
            <div
                class="flex min-w-full shrink-0 animate-marquee items-center justify-around gap-6 md:gap-10"
            >
                {
                    marqueeTop.images.map((image) => (
                        <image
                            src="{image}"
                            alt=""
                            loading="lazy"
                            width="{600}"
                            class="aspect-[4/3] max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
                        />
                    ))
                }
            </div>
            <div
                aria-hidden="true"
                class="flex min-w-full shrink-0 animate-marquee items-center justify-around gap-6 md:gap-10"
            >
                {
                    marqueeTop.images.map((image) => (
                        <image
                            src="{image}"
                            alt=""
                            loading="lazy"
                            width="{600}"
                            class="aspect-[4/3] max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
                        />
                    ))
                }
            </div>
        </div>
    </div>
</section>

<script>
    const setupMarquee = () => {
        const marqueeTop = document.querySelector(".marquee-top");
        const marqueeMiddle = document.querySelector(".marquee-middle");
        const marqueeBottom = document.querySelector(".marquee-bottom");

        // add the clauss "pause" when the mouse enters the marquee
        marqueeTop?.addEventListener("mouseover", () => {
            marqueeTop.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.add("pause");
            });
        });
        marqueeMiddle?.addEventListener("mouseover", () => {
            marqueeMiddle.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.add("pause");
            });
        });
        marqueeBottom?.addEventListener("mouseover", () => {
            marqueeBottom.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.add("pause");
            });
        });

        // remove the class "pause" when the mouse leaves the marquee
        marqueeTop?.addEventListener("mouseout", () => {
            marqueeTop.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.remove("pause");
            });
        });
        marqueeMiddle?.addEventListener("mouseout", () => {
            marqueeMiddle.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.remove("pause");
            });
        });
        marqueeBottom?.addEventListener("mouseout", () => {
            marqueeBottom.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.remove("pause");
            });
        });
    };

    // runs on initial page load
    setupMarquee();

    // runs on view transitions navigation
    document.addEventListener("astro:after-swap", setupMarquee);
</script>
