---
// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import CategoryCloud from "@components/CategoryCloud/CategoryCloud.astro";
---

<BaseLayout
  title="Recent Blog Posts"
  description="Recent Blog Posts Description"
>
  <section class="container pt-36 md:pt-44">
    <div class="mx-auto max-w-3xl">
      <h1 class="h1 text-center">Categories</h1>
      <div class="mt-10 flex justify-center">
        <CategoryCloud showCount={false} />
      </div>
    </div>
  </section>
</BaseLayout>
