---
/**
 * * About page with various sections including some text, team profiles, and CTA
 * Edit the team member information inside src/config/teamData.json.ts
 */
import { Icon } from "astro-icon";

// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Profile from "@components/Profile/Profile.astro";
import CtaCardCenter from "@components/Cta/CtaCardCenter.astro";

// data
import teamData from "@config/teamData.json";
---

<BaseLayout
  title="Contact Me"
  description="Get in touch! Contact information for Blogsmith."
>
  <!-- text section -->
  <section class="container mx-auto pt-36 md:pt-44">
    <h1 class="h1 text-center">
      We have
      <span class="relative whitespace-nowrap">
        one goal
        <span>
          <Icon
            name="freehand-zig-underline"
            class="absolute left-0 top-0 -z-10 h-full w-full translate-y-[60%] scale-y-75 text-primary-300"
            aria-hidden="true"
          />
        </span>
      </span>
    </h1>
    <p class="description mx-auto mt-10 max-w-2xl text-center md:mt-20">
      Since 1990 we have been providing the best painting services in the area.
      We are a family owned and operated business that takes pride in our work
      and our community. We are fully licensed and insured and have a long list
      of references available upon request. We look forward to working with you!
    </p>
  </section>

  <!-- meet the team -->
  <section class="container mt-24 md:mt-36">
    <h2 class="h2 text-center">
      Meet the <span class="text-primary-600">team</span>
    </h2>
    <div class="mt-12 grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        teamData.map((member) => (
          <Profile
            name={member.name}
            title={member.title}
            image={member.image}
            bio={member.bio}
          />
        ))
      }
    </div>
  </section>
  <CtaCardCenter />
</BaseLayout>
