---
// Inspiration: https://sia.codes/speaking/
// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Hero from "@components/Hero/HeroCentered.astro";
import SpeakerInfo from "@components/SpeakerInfo.astro";
import SpeakingStats from "@components/Speaking/SpeakingStats.astro";
import SpeakingTabs from "@components/Speaking/SpeakingTabs.astro";
import FeatureGalleryOneRow from "@components/Feature/FeatureGalleryOneRow.astro";
import { Icon } from "astro-icon";
---

<BaseLayout
    title="Speaking & Workshops | Monica Miller"
    description="Conference talks, workshops, videos, and podcasts on Data Lakehouses, Trino, and Data Engineering."
>
    <Hero />
    <SpeakingStats />
    <SpeakerInfo />

    <section class="container my-24">
        <h2 class="h2 relative mb-12 text-center">
            Speaking
            <span class="relative whitespace-nowrap">
                History
                <span>
                    <Icon
                        name="freehand-zig-underline"
                        class="absolute left-0 top-0 -z-10 h-full w-full translate-y-1/2 text-primary-500"
                        aria-hidden="true"
                    />
                </span>
            </span>
        </h2>
        <SpeakingTabs />
    </section>

    <FeatureGalleryOneRow />
</BaseLayout>
