---
/**
 * * FAQ section in accordions
 */
import { Icon } from "astro-icon";

// components
import Accordion from "@components/Accordion/Accordion.astro";

// data
import { speakerData, type SpeakerItem } from "@config/speakerData.json";

type FaqCols = SpeakerItem[];

// array of columns for faq data
const faqCols: FaqCols[] = [];
let faqsPerCol = Math.floor(speakerData.length / 2);
let remainder = speakerData.length % 2;

// this assumes more than 2 items for FAQ...
if (remainder === 0) {
    // even split
    faqCols[0] = speakerData.slice(0, faqsPerCol);
    faqCols[1] = speakerData.slice(faqsPerCol, 2 * faqsPerCol);
} else if (remainder === 1) {
    // extra goes to first column
    faqCols[0] = speakerData.slice(0, faqsPerCol + 1);
    faqCols[1] = speakerData.slice(faqsPerCol + 1, 2 * faqsPerCol + 1);
} else {
    console.error("Something went wrong with the FAQ data in Faq2.astro");
}
---

<section id="speaker-info" class="container my-24 md:my-36">
    <h2 class="h2 mt-8 text-center">
        <span class="relative whitespace-nowrap">
            My Speaker Info
            <span>
                <Icon
                    name="freehand-zig-underline"
                    class="absolute left-0 top-0 -z-10 h-full w-full translate-y-1/2 text-primary-500"
                    aria-hidden="true"
                />
            </span>
        </span>
    </h2>
    <!-- Need my bio, headshot, and links for your website or promotional post? -->
    <div class="mx-auto mt-16 grid gap-x-10 gap-y-3 lg:grid-cols-2">
        {
            faqCols.map((faqCol) => (
                <div class="flex w-full flex-col gap-3">
                    {faqCol.map(({ question, answer }, idx) => (
                        <Accordion title={question} details={answer} />
                    ))}
                </div>
            ))
        }
    </div>
</section>
