---
import { Image } from "astro:assets";

// images
import logo from "@images/phoebe-logo.png";

// data
import siteData from "@config/siteData.json";
---

<a class="primary-focus flex items-center align-middle" href="/" class="">
    <p class="sr-only">{siteData.title}</p>
    <image
        src="{logo}"
        alt="Phoebe logo"
        loading="eager"
        height="{90}"
        class="h-10 w-auto"
        aria-label="Phoebe logo"
    />
</a>
