---
/**
 * * Testimonials section columns (not swiper)
 */

import { Icon } from "astro-icon";

// components
import TestimonialCard from "./TestimonialCard.astro";

// data
import { testimonialData } from "@config/testimonialData.json";
---

<section id="faq2" class="bg-base-200/50 py-20 md:my-16">
  <div class="container">
    <div class="flex justify-center">
      <h2 class="h2 flex gap-1 text-center">
        <span>Our customers love</span>
        <span>
          <Icon
            name="freehand-heart"
            class="h-8 w-auto text-primary-500"
            aria-hidden="true"
          />
        </span>
        <span>us</span>
      </h2>
    </div>
    <div
      class="mx-auto mt-20 grid gap-6 gap-y-20 sm:grid-cols-2 md:grid-cols-3"
    >
      {
        testimonialData.map((testimonial) => (
          <TestimonialCard {...testimonial} />
        ))
      }
    </div>
  </div>
</section>
