---
import { Icon } from "astro-icon";

// components
import NavLink from "@components/Nav/NavLink.astro";
import { type navDropdownItem } from "@config/navData.json";

interface Props {
  navItem: navDropdownItem;
}

const { navItem } = Astro.props as Props;
---

<!-- non-mobile dropdown menu -->
<li class="dropdown group relative">
  <button
    class="primary-focus flex items-center gap-1 rounded-md px-3 py-2 font-medium transition hover:text-primary-500"
    type="button"
    aria-label={`${navItem.text} dropdown menu`}
  >
    {navItem.text}
    <Icon name="tabler:chevron-down" aria-hidden="true" class="h-5 w-5" />
  </button>
  <div class="dropdown-content absolute z-10 hidden">
    <ul
      class="mt-2 w-[12rem] min-w-[9rem] max-w-[20rem] rounded-md border border-solid border-primary-400/50 bg-base-100 p-1.5 drop-shadow-md"
    >
      {
        navItem.dropdown.map((dropdownItem) => (
          <NavLink navItem={dropdownItem} />
        ))
      }
    </ul>
  </div>
</li>

<style lang="scss">
  .dropdown {
    // when dropdown is hovered over (mouse) or focused (keyboard tabbing), open it with animation
    &:hover > .dropdown-content,
    &:focus-within > .dropdown-content {
      animation: navDropdownFadeInAnimation ease-out 0.15s forwards;
      @apply block;
    }
  }

  @keyframes navDropdownFadeInAnimation {
    0% {
      @apply top-[90%] opacity-0;
    }
    100% {
      @apply top-full opacity-100;
    }
  }
</style>
